@font-face {
    font-family: "TT Lakes";
    src: url(fonts/TTLakes-Regular.ttf); format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes-Bold";
    src: url(fonts/TTLakes-Bold.ttf); format("ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes-Medium";
    src: url(fonts/TTLakes-Medium.ttf); format("ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes-Light";
    src: url(fonts/TTLakes-Light.ttf); format("ttf");
    font-weight: lighter;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: TT Lakes;
    background-color: beige

}

aside {
    min-width: 320px;
    width: 320px;
    height: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 0 30px grey
}

.aside_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}   

.aside_footer {
    padding: 30px;
}

h2 {
    font-family: TT Lakes-Bold;
}

a {
   text-decoration: none;
   color: black;
}

.aside_menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    margin-top: 20px;
    font-size: 20px;
    font-family: TT Lakes-Medium;
}

.footer_icons {
    display: flex;
    gap: 15px;
}

.footer_lang {
    display: flex;
    gap: 10px;
}

.menu-item{
    transition: all 0.5s ease 0s;
}

.menu-item:hover {
    outline: none;
    border-left: 5px solid cyan;
    transform: scale(1.1);
    background-color: azure;
}

.current {
    color: grey;
}